.productTab {
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #00000010;
    border-bottom: 1px solid #00000010;
    padding: 10px 0;
}

.tablinks {
    background-color: transparent;
    border: unset;
    cursor: pointer;
    font-size: 16px;
}

.tablinks.active {
    color: var(--white-color);
    background-color: var(--green-color);
    padding: 10px 25px;
    border-radius: 30px;
}
