.row {
    display: flex;
    justify-content: space-between;
}

.documents {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
}

.docName {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.download {
    display: flex;
    align-items: center;
    gap: 20px;
}

.customBtn {
    font-size: 18px;
}

.hr {
    opacity: 10%;
    margin: 25px 0;
}

.downloadIconMobile {
    display: none;
}

@media (max-width: 767px) {
    .customBtn,
    .size {
        display: none;
    }

    .downloadIconMobile {
        display: block;
        color: var(--green-color)
    }
}
